<%- include('../partials/adminheader') %>

  <div class="container">
    <h1 class="display-4">All Sales</h1>
  </div>
  <br>

  <form action="/admin/sales" method="GET">
    <div class="mx-auto row">
      <div class="col-1"></div>
      <div class="col-4">
        <% if(checkDate){ %>
          <div class="input-group">
            <span class="input-group-addon">From: </span>
            <input type="date" value="<%= from %>" class="form-control" name="dateFrom" id="dateFrom">
          </div>
          </div>
          <div class="col-4">
            <div class="input-group">
                <span class="input-group-addon">To: </span>
              <input type="date" value="<%= to %>"  class="form-control" name="dateTo" id="dateTo">
            </div>
          </div>
        <% } else { %>
          <div class="input-group">
            <span class="input-group-addon">From: </span>
            <input type="date" class="form-control" name="dateFrom" id="dateFrom">
          </div>
          </div>
          <div class="col-4">
            <div class="input-group">
                <span class="input-group-addon">To: </span>
              <input type="date" class="form-control" name="dateTo" id="dateTo">
            </div>
          </div>
        <% } %>
      <div class="col-2">
        <button class=" btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
  <%if(!!!sales) {%>
    <p class="display-4 align-text-center">There are no transaction for this searched date</p>
  <% } else { %>
  <table class="table table-hover table-striped sorting">
      <thead>
          <tr class="home">
              <th>Buyer</th>
              <th>Amount</th>
              <th>Time</th>
              <th>Is Paid ?</th>
              <th>Is Delivered ?</th>
              <th>Cancel Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody id="page-list">
        <% sales.forEach(sale => { %>
          <tr>
          <td><%= sale.buyer %></td>
          <td>&#8369; <%= sale.total.toFixed(2) %></td>
          <td><%= sale.date.toLocaleString() %></td>
          <%if(sale.paid){%>
            <td class="text-success">Already Paid</td>
          <% } else {%>
            <td class="text-danger">Not Yet</td>
          <% } %>
          <%if(sale.isDelivered){%>
            <td class="text-success">Already Delivered</td>
          <% } else {%>
            <td class="text-danger">Not Yet</td>
          <% } %>
          <%if(sale.cancelStatus){%>
            <td><a href="#" data-toggle="modal" data-target="#<%= sale._id %>-cancel-status" class="btn btn-sm btn-primary"><%= sale.cancelStatus %></a></td>
          <% } else {%>
            <td class="text-danger"></td>
          <% } %>
            <td>
              <a href="/admin/sales/<%= sale._id %>" class="btn btn-sm btn-primary">Show more</a>
              <% if (sale.cancelStatus !== 'Approved') { %>
              <a href="#" data-toggle="modal" data-target="#<%= sale._id %>-delivery-status" class="btn btn-sm btn-primary">Delivery Status</a>
              <% } %>
            </td>
          </tr>
          <% }); %>
      </tbody>
  </table>

  <% sales.forEach(sale => { %>
    <!-- <div class="modal fade" id="<%= sale._id %>-pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <% if(sale.cancelStatus) { %>
    <div class="modal fade" id="<%= sale._id %>-cancel-status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cancel Order Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="cancelReason">Reason</label>
                  <textarea id="cancelReason" name="cancelReason" cols="30" rows="3" class="form-control" disabled><%= sale.cancelReason %></textarea>
              </div>
          </div>
          <% if(sale.cancelStatus === 'Pending') { %>
            <div class="modal-footer">
                <a class="btn btn-secondary text-white" data-dismiss="modal">Close</a>
                <a class="btn btn-danger text-white" href="/admin/sales/cancelOrder/<%= sale._id %>/reject">Reject</a>
                <a class="btn btn-success text-white" href="/admin/sales/cancelOrder/<%= sale._id %>/approve">Approve</a>
            </div>
          <% } %>
        </div>
    </div>
    </div>
    <% } %>

  <% }); %>

  <% sales.forEach(sale => { %>
    <!-- <div class="modal fade" id="<%= sale._id %>-pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal fade" id="<%= sale._id %>-delivery-status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delivery Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/admin/sales/deliveryStatus/<%= sale._id %>" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="mx-2">
            <% if (sale.deliveryStatus) { %>
              <% sale.deliveryStatus.forEach((status, index) => { %>
                <% if (status.status === 'Delivered') { %>
                  <div><i class="fa-solid fa-circle-check"></i> <span class="text-success"><%= status.status %></span></div>
                <% } else if (index === sale.deliveryStatus.length - 1) { %>
                  <div><i class="fa-solid fa-circle"></i> <%= status.status %></div>
                <% } else { %>
                  <div><i class="fa-solid fa-circle-check"></i> <span class="text-success"><%= status.status %></span></div>
                <% }  %>
              <% }) %>
            <% } %>
            </div>

              <div class="d-flex flex-column form-group mt-3 align-center">
                  <% if (sale.currentDeliveryStatus === 'Pending') { %>
                    <p>Update to be on packing</p>
                    <label for="date">Choose delivery date</label>
                    <input id="date" name="date" width="276" />
                    <input type="hidden" name="status" id="status" value="Packing" />
                  <% } else if (sale.currentDeliveryStatus === 'Packing') { %>
                    <p>Update to be on delivery</p>
                    <input type="hidden" name="status" id="status" value="On Delivery" />
                  <% } else  { %>
                    <p>Update to be delivered</p>
                    <input type="hidden" name="status" id="status" value="Delivered" />
                  <% } %>
              </div>
          </div>
          <div class="modal-footer">
            <% if (sale.currentDeliveryStatus !== 'Delivered') { %>
              <a class="btn btn-danger text-white" data-dismiss="modal">Cancel</a>
              <button class="btn btn-warning" type="submit">Update</button>
            <% } %>
          </div>
        </form>
        </div>
    </div>
    </div>
  <% }); %>
  <% } %>
  

  <script>
      $('#date').datepicker({
          uiLibrary: 'bootstrap4'
      });
  </script>

<%- include('../partials/adminfooter') %>