<%- include('../partials/adminheader') %>

  <div class="container">
    <h1 class="display-4">Bids</h1>
  </div>
  <br>

  <% if(bids.length != 0) { %>

    
  <!-- STRIPED TABLE -->
  <table class="table table-hover table-striped alignmid ">
      <thead>
          <tr class="home">
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Image</th>
              <th>Bidder</th>
              <th>Amount (BID)</th>
              <th>Quantity (BID)</th>
              <th class="text-center" colspan="2">Actions</th>
          </tr>
      </thead>
      <tbody>
        <% bids.forEach(bid => { %>
          <tr>
              <td><%= bid.productId.title %></td>
              <td>&#8369;<%= parseFloat(bid.productId.price).toFixed(2) %></td>
              <td><%= bid.productId.quantity %></td>
              <td><%= bid.productId.category %></td>
              <td>
                <% if(bid.productId.image == ""){ %>
                  <img id="noimage" src="/images/noimage.png">
                <% } else { %>
                  <img id="noimage" src="/product_images/<%= bid.productId._id%>/<%= bid.productId.image %>">
                <% } %>
              </td> 
              <td><%= bid.user.name %></td>
              <td>&#8369;<%= parseFloat(bid.price).toFixed(2) %></td>
              <td><%= bid.quantity %></td>
              <td><%= bid.quantity %></td>
              <% if (bid.selected) { %>
                <% if (bid.isPaid) { %>
                  <td class="text-center text-success">Approved (Paid)</td>
                <% } else { %>
                  <td class="text-center text-success">Approved <span class="text-warning">(Not yet paid)</span></td>
                <% } %>
              <% } else { %>
                <td><a class="text-success" href="/admin/bids/approve/<%= bid._id %>">Approve</a></td>
                <td><a class="text-danger" href="/admin/bids/disapprove/<%= bid._id %>">Disapprove</a></td>
              <% } %>
          </tr>
          <% }); %>
      </tbody>
  </table>


  <% } else { %>
    
    <h1 class="display-2 text-center">There are no Bids</h1>
  <% } %>
  
<%- include('../partials/adminfooter') %>