<%- include('../partials/adminheader') %>

  <div class="container">
    <h1 class="display-4">Sales Report</h1>
  </div>
  <br>

  <form action="/admin/sales/sales-report" method="GET">
    <div class="mx-auto row">
      <div class="col-1"></div>
      <div class="col-4">
        <% if(checkDate){ %>
          <div class="input-group">
            <span class="input-group-addon">From: </span>
            <input type="date" value="<%= from %>" class="form-control" name="dateFrom" id="dateFrom">
          </div>
          </div>
          <div class="col-4">
            <div class="input-group">
                <span class="input-group-addon">To: </span>
              <input type="date" value="<%= to %>"  class="form-control" name="dateTo" id="dateTo">
            </div>
          </div>
        <% } else { %>
          <div class="input-group">
            <span class="input-group-addon">From: </span>
            <input type="date" class="form-control" name="dateFrom" id="dateFrom">
          </div>
          </div>
          <div class="col-4">
            <div class="input-group">
                <span class="input-group-addon">To: </span>
              <input type="date" class="form-control" name="dateTo" id="dateTo">
            </div>
          </div>
        <% } %>
      <div class="col-2">
        <button class=" btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  <table class="table table-hover table-striped sorting">
    <thead>
        <tr class="home">
          <th>Buyer</th>
          <th>Amount</th>
          <th>Time</th>
          <th>Is Paid ?</th>
          <th>Is Delivered ?</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody id="page-list">
      <% sales.forEach(sale => { %>
        <%if(sale.paid) { %>
          <tr>
            <td><%= sale.buyer %></td>
            <td>&#8369; <%= sale.total.toFixed(2) %></td>
            <td><%= sale.date.toLocaleString() %></td>
            <%if(sale.paid){%>
              <td class="text-success">Already Paid</td>
            <% } else {%>
              <td class="text-danger">Not Yet</td>
            <% } %>
            <%if(sale.isDelivered){%>
              <td class="text-success">Already Delivered</td>
            <% } else {%>
              <td class="text-danger">Not Yet</td>
            <% } %>
            <td><a href="/admin/sales/<%= sale._id %>" class="btn btn-sm btn-primary">Show more</a></td>
          </tr>
        <% } %>
      <% }); %>
    </tbody>
  </table>
  <h1 class="display-4">Total: <%= total %></h1>
  


<%- include('../partials/adminfooter') %>