<%- include('../partials/adminheader') %>

  <div class="container">
    <h1 class="display-4">Sales</h1>
    <h4>Buyer: <%= sales.buyer %></h4>
  </div>
  <br>
  
  <%if(!sales.isDelivered) {%>
    <p>Click if items are delivered</p>
    <form class="mb-3" action="/admin/sales/<%= sales._id %>/delivered" method="post">
      <button type="submit" class="btn btn-outline-success">Delivered</button>
    </form>
  <% } else { %>
    <h1 class="display-4 text-success">This item is already delivered</h1>
  <% } %>
  <%if(!sales.paid) {%>
    <p>Click if already paid</p>
    <form class="mb-3" action="/admin/sales/<%= sales._id %>/paid" method="post">
      <button type="submit" class="btn btn-success">Paid</button>
    </form>
  <% } else { %>
    <h1 class="display-4 text-success">This item is already paid</h1>
  <% } %>
  <table class="my-5 table table-bordered">
    <thead>
        <tr>
            <th>Control Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Cart price</th>
            <th>Shipping Fee</th>
            <th>Total price</th>
            <th>Invoice</th>
        </tr>
    </thead> 
    <tbody>
        <tr>
            <td><%= sales._id %></td>
            <td><%= sales.buyerName %></td>
            <td><%= sales.address %></td>
            <td><%= sales.phone_number %></td>
            <td>&#8369; <%= sales.total.toFixed(2) %></td>
            <td>&#8369; <%= sales.shipping_fee.toFixed(2) %></td></td>
            <td>&#8369; <%= sales.totalWithShipping.toFixed(2) %></td>
            <td><a target="_blank" href="/admin/sales/<%= sales._id %>/show-invoice" class="btn btn-sm btn-primary ">Show invoice</a></td>
        </tr>
    </tbody>
</table>


  <!-- STRIPED TABLE -->
  <table class="table table-hover table-striped alignmid ">
      <thead>
          <tr class="home">
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Product Image</th>
          </tr>
      </thead>
      <tbody>
        <% arrSales.forEach(product => { %>
          <tr>
              <td><%= product.title %></td>
              <td>&#8369;<%= parseFloat(product.price).toFixed(2) %></td>
              <td><%= product.qty %></td>
              <td><%= product.category %></td>
              <td>
                <% if(product.image == ""){ %>
                  <img id="noimage" src="/images/noimage.png">
                <% } else { %>
                  <img id="noimage" src="<%= product.image %>">
                <% } %>
              </td>
          </tr>
          <% }); %>
      </tbody>
  </table>

<%- include('../partials/adminfooter') %>