

<!-- //////////////////////// -->


<% include ./partials/header %>

<% if(typeof cart !== 'undefined') { %>

<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form action="#">               
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% var total = 0 %>
                              <% cart.forEach(product => { %>
                              <% var subTotal = parseFloat(product.price * product.qty).toFixed(2) %>
                              <% total += +subTotal %>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="<%= product.image %>" alt="product img"></a></td>
                                    <td class="product-name"><a href="#"><%= product.title %></a></td>
                                    <td class="product-price"><span class="amount">&#8369;<%= parseFloat(product.price).toFixed(2) %></span></td>
                                    <td class="product-quantity">
                                      <strong> <%= product.qty %> </strong>&nbsp;
                                      <a title="Add one" href="/cart/update/<%= product.title %>?action=add"> + </a>&nbsp;
                                      <a title="Remove one" href="/cart/update/<%= product.title %>?action=remove"> - </a>&nbsp;
                                    </td>
                                    <td class="product-subtotal">&#8369;<%= subTotal %></td>
                                    <td class="product-remove"><a title="Remove Product" href="/cart/update/<%= product.title %>?action=clear">X</a></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </form> 
                <div class="cartbox__btn">
                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                        <li><a id="clearCart" href="/cart/clear">Clear Cart</a></li>
                        <li><a href="/cart/payment-method">Proceed</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="cartbox__total__area">
                    <div class="cartbox-total d-flex justify-content-between">
                        <ul class="cart__total__list">
                            <li>Cart total</li>
                        </ul>
                        <ul class="cart__total__tk">
                            <li>&#8369;<%= parseFloat(total).toFixed(2) %></li>
                        </ul>
                    </div>
                    <div class="cart__total__amount">
                        <span>Total</span>
                        <span>&#8369;<%= parseFloat(total).toFixed(2) %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- cart-main-area end -->

<% } else { %>
  <h1 class="display-4 text-center my-5">Your cart is empty</h1>
<% } %>

<script>

  $(() => {
  
    // $('a.buyit').on('click', function (e) {
    //   e.preventDefault();
        
    //     $.get('/cart/buynow', function() {
    //         $('form.pp input[type=image]').click();
    //         $('.ajaxbg').show();
    //     });
    // });


    $('#clearCart').on('click', function () {
        if (!confirm('Confirm clear cart'))
            return false;
    });


  })

</script>

<% include ./partials/footer %>