

<!-- //////////////////////// -->


<% include ./partials/header %>

<% if(typeof cart !== 'undefined' || (approvedBids && approvedBids.length)) { %>

<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% var total = 0 %>
                                <% if (cart) { %>
                                    <% cart.forEach(product => { %>
                                        <% var subTotal = parseFloat(product.price * product.qty).toFixed(2) %>
                                        <% if (product.partial) { %>
                                            <% if (product.partial === '1/4') { %>
                                                <% subTotal = parseFloat(+subTotal + (product.price * 0.25)).toFixed(2)  %>
                                            <% } else if (product.partial === '1/2') { %>
                                                <% subTotal = parseFloat(+subTotal + (product.price * 0.5)).toFixed(2)  %>
                                            <% } else { %>
                                                <% subTotal = parseFloat(+subTotal + (product.price * 0.75)).toFixed(2)  %>
                                            <% } %>
                                        <% } %>
                                        <% total += +subTotal %>
                                        <tr>
                                            <td class="product-thumbnail"><a href="#"><img src="<%= product.image %>" alt="product img"></a></td>
                                            <td class="product-name"><a href="#"><%= product.title %></a></td>
                                            <td class="product-price"><span class="amount">&#8369;<%= parseFloat(product.price).toFixed(2) %></span></td>
                                            <td class="product-quantity">
                                            <strong> <%= product.qty %> <%= product.partial ? ' and '+ product.partial : '' %> <%= product.measurement %> </strong>&nbsp;
                                            <a title="Add one" href="/cart/update/<%= product.title %>?action=add"> + </a>&nbsp;
                                            <a title="Remove one" href="/cart/update/<%= product.title %>?action=remove"> - </a>&nbsp;
                                            <% let partialList = [ '', '1/4', '1/2', '3/4' ] %>
                                            <% if (['kilo(s)', 'liter(s)' ].includes(product.measurement)) { %>
                                                <div class="">
                                                    <form action="/cart/partial/<%= product.slug %>" method="POST" enctype="multipart/form-data" class="d-flex justify-content-center">
                                                        <div class="col-md-6">
                                                            <select name="partial" class="form-control form-control-sm">
                                                                <% partialList.forEach(item => { %>
                                                                    <% if (product.partial && product.partial === item) { %>
                                                                        <option value="<%= item %>" selected><%= item %></option>
                                                                    <% } else if (!product.partial && product.partial !== '' && item === '') { %>
                                                                        <option value="<%= item %>" selected><%= item %></option>
                                                                    <% } else {  %>
                                                                        <option value="<%= item %>" ><%= item %></option>
                                                                    <% } %>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button class="btn btn-sm btn-primary inline-button" type="submit">Update</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            <% } %>
                                            </td>
                                            <td class="product-subtotal">&#8369;<%= subTotal %></td>
                                            <td class="product-remove"><a title="Remove Product" href="/cart/update/<%= product.title %>?action=clear">X</a></td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                            <% if (approvedBids) { %>
                                <% approvedBids.forEach(approvedBid => { %>
                                    <% var subTotalBid = parseFloat(approvedBid.bid.price * approvedBid.bid.quantity).toFixed(2) %>
                                    <% total += +subTotalBid %>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="/product_images/<%= approvedBid.productId._id %>/<%= approvedBid.productId.image %>" alt="product img"></a></td>
                                        <td class="product-name"><a href="#"><%= approvedBid.productId.title %><span class="text-success">(Approved Bid)</span></a></td>
                                        <td class="product-price"><span class="amount">&#8369;<%= parseFloat(approvedBid.bid.price).toFixed(2) %></span></td>
                                        <td class="product-quantity">
                                            <strong> <%= approvedBid.bid.quantity %> <%= approvedBid.productId.measurement %> </strong>&nbsp;
                                        </td>
                                        <td class="product-subtotal">&#8369;<%= subTotalBid %></td>
                                    </tr>
                                <% }); %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                <div class="cartbox__btn">
                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                        <li><a id="clearCart" href="/cart/clear">Clear Cart</a></li>
                        <li><a href="/cart/payment-method">Proceed</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="cartbox__total__area">
                    <div class="cartbox-total d-flex justify-content-between">
                        <ul class="cart__total__list">
                            <li>Cart total</li>
                        </ul>
                        <ul class="cart__total__tk">
                            <li>&#8369;<%= parseFloat(total).toFixed(2) %></li>
                        </ul>
                    </div>
                    <div class="cart__total__amount">
                        <span>Total</span>
                        <span>&#8369;<%= parseFloat(total).toFixed(2) %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- cart-main-area end -->

<% } else { %>
  <h1 class="display-4 text-center my-5">Your cart is empty</h1>
<% } %>

<script>

  $(() => {
  
    // $('a.buyit').on('click', function (e) {
    //   e.preventDefault();
        
    //     $.get('/cart/buynow', function() {
    //         $('form.pp input[type=image]').click();
    //         $('.ajaxbg').show();
    //     });
    // });


    $('#clearCart').on('click', function () {
        if (!confirm('Confirm clear cart'))
            return false;
    });


  })

</script>

<% include ./partials/footer %>