<% include ./partials/header %>

<% if(typeof cart !== 'undefined') { %>

  <!-- Start Checkout Area -->
  <section class="wn__checkout__area section-padding--lg bg__white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wn_checkout_wrap">
              <% if(!user) { %>
              <div class="checkout_info">
                <span>Returning customer ?</span>
                <a class="showlogin" href="#">Click here to login</a>
              </div>
              <div class="checkout_login">
                <form class="wn__checkout__form"  action="/users/login-from-billing" method="POST">
                  <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>

                  <div class="input__box">
                    <label>Username<span>*</span></label>
                    <input name="username" id="username" type="text">
                  </div>

                  <div class="input__box">
                    <label>Password <span>*</span></label>
                    <input name="password" id="username" type="password">
                  </div>
                  <div class="form__btn">
                    <button type="submit">Login</button>&nbsp;
                    <a href="/users/forgot-password">Lost your password?</a>
                  </div>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="customer_details">
              <h3>Billing details</h3>
              <% if(!user) { %>
                <div class="customar__field">
                  <div class="input_box">
                    <label>Name<span>*</span></label>
                    <input name="name" id="name" type="text">
                  </div>
                  <!-- <div class="input_box">
                    <label>Company name<span>*</span></label>
                    <input type="text">
                  </div>-->        						
                  <div class="input_box">
                    <label>City<span>*</span></label>
                    <select name="city" id="city" class="select__option">
                  <option>Select a city..</option>
                  <option>Afghanistan</option>
                  <option>American Samoa</option>
                  <option>Anguilla</option>
                  <option>American Samoa</option>
                  <option>Antarctica</option>
                  <option>Antigua and Barbuda</option>
                    </select>
                  </div>
                  <div class="input_box">
                    <label>Address <span>*</span></label>
                    <input name="address" id="address" type="text" placeholder="Street address">
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="Apartment, suite, unit etc. (optional)">
                  </div>
                  <div class="input_box">
                    <label>Barangay<span>*</span></label>
                    <select name="barangay" id="barangay" class="select__option">
                  <option>Select a barangay…</option>
                  <option>Afghanistan</option>
                  <option>American Samoa</option>
                  <option>Anguilla</option>
                  <option>American Samoa</option>
                  <option>Antarctica</option>
                  <option>Antigua and Barbuda</option>
                    </select>
                  </div>
                <div class="input_box">
                  <label>Postcode / ZIP <span>*</span></label>
                  <input type="text">
                </div>
                <div class="margin_between">
                  <div class="input_box space_between">
                    <label>Phone <span>*</span></label>
                    <input name="phone" id="phone" type="text">
                  </div>

                  <div class="input_box space_between">
                    <label>Email address <span>*</span></label>
                    <input name="email" id="email" type="email">
                  </div>
                </div>
                  </div>
                  <div class="create__account">
                    <div class="wn__accountbox">
                      <input class="input-checkbox" name="createaccount" value="1" type="checkbox">
                      <span>Create an account to proceed in billing</span>
                    </div>
                    <div class="account__field">
                    <label>Account password<span>*</span></label>
                    <input type="password" placeholder="password">
                    <label>Repeat Password<span>*</span></label>
                    <input type="password" placeholder="password">
                    </div>
                  </div>
              <% } else { %>
                <div class="customar__field">
                  <div class="input_box">
                    <label>Name </label>
                    <input  name="name" type="text" value="<%= user.name %>">
                  </div>			
                  <div class="input_box">
                    <label>Email</label>
                    <input  name="email" type="email" value="<%= user.email %>">
                  </div>
                  <div class="input_box">
                    <label>Phone number </label>
                    <input  name="phone_num" type="text" value="<%= user.phone_number %>">
                  </div>
                  <div class="input_box">
                    <label>City</label>
                    <select name="city" class="select__option">
                      <option value="Caloocan">Caloocan</option>
                      <option value="Las Piñas">Las Piñas</option>
                      <option value="Makati">Makati</option>
                      <option value="Malabon">Malabon</option>
                      <option value="Mandaluyong">Mandaluyong</option>
                      <option value="Manila">Manila</option>
                      <option value="Marikina">Marikina</option>
                      <option value="Muntinlupa">Muntinlupa</option>
                      <option value="Navotas">Navotas</option>
                      <option value="Parañaque">Parañaque</option>
                      <option value="Pasay">Pasay</option> 
                      <option value="Pasig">Pasig</option>
                      <option value="Pateros (Municipality)">Pateros (Municipality)</option>
                      <option value="Quezon City">Quezon City</option>
                      <option value="San Juan">San Juan</option>
                      <option value="Taguig">Taguig</option>
                      <option value="Valenzuela">Valenzuela</option>
                    </select>
                  </div>
                  <div class="input_box">
                    <label>Address</label>
                    <input  name="address" type="text" value="<%= user.address %>">
                  </div>
                  </div>
              <% } %>
            </div>
          </div>
          

          <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
            <div class="wn__order__box">
              <h3 class="onder__title">Your order</h3>
              <ul class="order__total">
                <li>Product</li>
                <li>Total</li>
              </ul>
              <ul class="order_product">
                <% var total = 0 %>
                  <% cart.forEach(product => { %>
                  <% var subTotal = parseFloat(product.price * product.qty).toFixed(2) %>
                  <% total += +subTotal %>
                  <li><%= product.title %> × <%= product.qty %><span>&#8369;<%= subTotal %></span></li>
                <% }); %>
                <% var orderTotal = 100 + total %>

              </ul>
              <ul class="shipping__method">
                <li>Cart Subtotal <span>&#8369;<%= parseFloat(total).toFixed(2) %></span></li>
                <li>Shipping fee <span>&#8369;100.00</span></li>
              </ul>
              <ul class="total__amount">
                <li>Order Total <span>&#8369;<%= parseFloat(orderTotal).toFixed(2) %></span></li>
              </ul>
            </div>
          <div id="accordion" class="checkout_accordion mt--30" role="tablist">
            <div class="payment">
                <div class="che__header" role="tab" id="headingOne">
                    <a class="checkout__title" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span>Paypal</span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="payment-body">Pay by paypal</div>
                    <div class="payment-body">
                      <form action="/cart/pay" method="POST">
                        <button id="checkOutPaypal" class="btn btn-outline-success btn-sm" type="submit">Checkout</button>
                      </form>
                    </div>
                </div>
            </div>
            <div class="payment">
                <div class="che__header" role="tab" id="headingTwo">
                    <a class="collapsed checkout__title" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span>Cash on Delivery</span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="payment-body">Cash on Delivery</div>
                    <div class="payment-body">
                      <form action="/cart/cod" method="POST">
                        <button id="checkOutCOD" class="btn btn-outline-success btn-sm" type="submit">Checkout</button>
                      </form>
                    </div>
                </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End Checkout Area -->

<% } else { %>
  <h1 class="display-4 text-center">Your cart is empty</h1>
<% } %>

<script>

  $(() => {
  
    $('#checkOutCOD').on('click', function () {
        if (!confirm('Confirm Checkout'))
            return false;
    });

    $('#checkOutPaypal').on('click', function () {
        if (!confirm('Confirm Checkout'))
            return false;
    });


  })

</script>




<% include ./partials/footer %>
