<% include ./partials/header %>

<% if(currentUser.id == foundUser._id || currentUser.admin == 1) { %>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="wn__accordeion__content">
          <h2>Below are frequently asked questions, you may find the answer for yourself</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id erat sagittis, faucibus metus malesuada, eleifend turpis. Mauris semper augue id nisl aliquet, a porta lectus mattis. Nulla at tortor augue. In eget enim diam. Donec gravida tortor sem, ac fermentum nibh rutrum sit amet. Nulla convallis mauris vitae congue consequat. Donec interdum nunc purus, vitae vulputate arcu fringilla quis. Vivamus iaculis euismod dui.</p>
        </div>
        <div id="accordion" class="wn_accordion" role="tablist">
            <% sales.forEach(saleDummy => {%>
              <div class="card">
                  <div class="acc-header" role="tab" id="<%= saleDummy._id %>">
                      <h5>
                          <a data-toggle="collapse" href="#<%= saleDummy._id %>-collapse" role="button" aria-expanded="true" aria-controls="collapseOne">
                          <p class="text-left">
                              |<strong>Control Number: </strong><%= saleDummy._id %>|

                            
                             


                              <% var paid = saleDummy.paid ? "Paid" : "Unpaid"; %>
                              <% var class1 = saleDummy.paid ? "success" : "danger"; %>
                              |<strong>Payment status: </strong><span class="text-<%= class1 %>"><%= paid %></span>|

                              <% var delivered = saleDummy.isDelivered ? "Delivered" : "Not yet"; %>
                              <% var class2 = saleDummy.isDelivered ? "success" : "danger"; %>
                              |<strong>Delivery status: </strong><span class="text-<%= class2 %>"><%= delivered %></span>|
                              
                              |<strong>Subtotal: </strong>&#8369;<%= parseFloat(saleDummy.total).toFixed(2)%>|
                              |<strong>Shipping fee: </strong>Shipping fee: &#8369;100.00|
                              |<strong>Total: </strong> &#8369;<%= parseFloat|(100).toFixed(2) %>|
                          </p>
                          </a>
                      </h5>
                  </div>
                  <div id="<%= saleDummy._id %>-collapse" class="collapse show" role="tabpanel" aria-labelledby="<%= saleDummy._id %>" data-parent="#accordion">
                      <div class="card-body">


                          <div class="table-content wnro__table table-responsive">
                              <table>
                                  <thead>
                                      <tr class="title-top">
                                          <th class="product-thumbnail">Image</th>
                                          <th class="product-name">Product</th>
                                          <th class="product-price">Price</th>
                                          <th class="product-quantity">Quantity</th>
                                          <th class="product-subtotal">Total</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <% var productList = saleDummy.product %>
                                    <% var total = 0 %>
                                    <% productList.forEach(product => { %>
                                    <% var subTotal = parseFloat(product.price * product.qty).toFixed(2) %>
                                    <% total += +subTotal %>
                                      <tr>
                                          <td class="product-thumbnail"><a href="#"><img src="<%= product.image %>" alt="product img"></a></td>
                                          <td class="product-name"><a href="#"><%= product.title %></a></td>
                                          <td class="product-price"><span class="amount">&#8369;<%= parseFloat(product.price).toFixed(2) %></span></td>
                                          <td class="product-quantity">
                                            <strong> <%= product.qty %> </strong>&nbsp;
                                          </td>
                                          <td class="product-subtotal">&#8369;<%= subTotal %></td>
                                      </tr>
                                      <% }); %>
                                  </tbody>
                              </table>
                          </div>



                      </div>
                  </div>
              </div>
              <% }) %>
          </div>
      </div> 
    </div> 
</div> 

  <% include ./partials/footer %>

  <% } else {%>
    <h1>You can't see <%= foundUser.name%>'s bought items</h1>
  <% } %>